<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1150,1150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,60},{1150,1150}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>CancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1966},{176,44}}</string>
                <key>offset</key>
                <string>{198,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1070,822},{176,44}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1966},{72,44}}</string>
                <key>offset</key>
                <string>{-208,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{716,823},{72,44}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>Piece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1287},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1154},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1819},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1686},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1553},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1420},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1287},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1154},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>PopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{810,562}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{557,361},{810,562}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othelloscene.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4755c2ebf03fb99034175e299c6eb03:945107ca00104bca657a18a31465f6e3:ed0f13f63c08ca5cd049e14c3a95b074$</string>
            <key>textureFileName</key>
            <string>othelloscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
