<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1150,1150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,60},{1150,1150}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>CancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1956},{176,44}}</string>
                <key>offset</key>
                <string>{198,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1070,822},{176,44}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{72,44}}</string>
                <key>offset</key>
                <string>{-208,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{716,823},{72,44}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>Piece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1287},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1154},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1819},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1686},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1553},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1420},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1287},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>Piece_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1154},{131,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>PopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{800,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{560,365},{800,550}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othelloscene.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3618800bdf2d43062214a2fa982abcf:bdebdfbdef3bf2c06e750345b98e514c:ed0f13f63c08ca5cd049e14c3a95b074$</string>
            <key>textureFileName</key>
            <string>othelloscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
