<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OthelloLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,252}}</string>
                <key>sourceSize</key>
                <string>{195,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuscene.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9dee7c34e65da7323dd6f5241a62b0:7e46d1a0c9056742178e5b01cdf7d823:8577c72fd72453ec01ea2d67c6a1a9f7$</string>
            <key>textureFileName</key>
            <string>menuscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
