<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,576}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,29},{576,576}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>Notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,580},{276,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,51}}</string>
                <key>sourceSize</key>
                <string>{276,51}</string>
            </dict>
            <key>PauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>Piece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,784},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,716},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,648},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,580},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,939},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,939},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,939},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,939},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>PopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{405,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,281}}</string>
                <key>sourceSize</key>
                <string>{405,281}</string>
            </dict>
            <key>TackBackPopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,858},{251,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,79}}</string>
                <key>sourceSize</key>
                <string>{251,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othelloscene.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6aa2ce7ea3ecc5f22db23c3276da74ac:1/1$</string>
            <key>textureFileName</key>
            <string>othelloscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
