<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{576,576}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,29},{576,576}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>CancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,988},{88,22}}</string>
                <key>offset</key>
                <string>{99,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{535,411},{88,22}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{36,24}}</string>
                <key>offset</key>
                <string>{-104,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,410},{36,24}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>Piece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,648},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,580},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,920},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,852},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,784},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,716},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,648},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Piece_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,580},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>PopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{406,282}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,180},{406,282}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othelloscene.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71bb9337c6f57cbd7ad9c61fc8e85c6c:945107ca00104bca657a18a31465f6e3:ed0f13f63c08ca5cd049e14c3a95b074$</string>
            <key>textureFileName</key>
            <string>othelloscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
