<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Piece_7.png</string>
	<string>Piece_6.png</string>
	<string>Piece_5.png</string>
	<string>Piece_4.png</string>
	<string>Piece_3.png</string>
	<string>Piece_2.png</string>
	<string>Piece_1.png</string>
	<string>Piece_0.png</string>
</array>
</plist>
