<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OthelloLogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuscene.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25ad169d0864e83fb1457ac5266170c:7e46d1a0c9056742178e5b01cdf7d823:8577c72fd72453ec01ea2d67c6a1a9f7$</string>
            <key>textureFileName</key>
            <string>menuscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
