<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,288}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,15},{288,288}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CancelButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{46,12}}</string>
                <key>offset</key>
                <string>{49,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,205},{46,12}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>OkButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,494},{18,12}}</string>
                <key>offset</key>
                <string>{-52,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,205},{18,12}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Piece_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,328},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,292},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,472},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,436},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,400},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,364},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,328},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Piece_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,292},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>PopupBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{200,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,91},{200,138}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>othelloscene.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083990da883c43551a6e39bc026f2c26:bdebdfbdef3bf2c06e750345b98e514c:ed0f13f63c08ca5cd049e14c3a95b074$</string>
            <key>textureFileName</key>
            <string>othelloscene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
